<div class="flex flex-column">
  <span class="text-lg mb-4">Login</span>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="email/telefono/nombre">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="contraseña">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>login</mat-icon>
    Ingresar
  </button>


  <div class="flex justify-content-center mt-5">
    <a routerLink="/auth/newaccount">No tengo cuenta</a>
  </div>



</div>
